<!DOCTYPE html>
<html>
<head>
  <title>TosakinTravisCi</title>
  <%= stylesheet_link_tag    "tosakin_travis_ci/application", media: "all" %>
  <%= javascript_include_tag "tosakin_travis_ci/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
